services:
  zookeeper:
    image: zookeeper:3.9.4
    container_name: zookeeper
    environment:
      ZOO_MY_ID: 1
      ZOO_STANDALONE_ENABLED: "true"
      ZOO_PORT: 2181
    ports:
      - "2181:2181"
    volumes:
      - ./zk_data:/data
      - ./zk_datalog:/datalog
    networks:
      - kafka-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      zookeeper:
        condition: service_started
    networks:
      - kafka-network
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s

  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: radmin9335
      POSTGRES_DB: infra_db
    ports:
      - "5432:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    networks:
      - kafka-network

  producer_node1:
    build:
      context: .
      dockerfile: Dockerfile.producer
    container_name: producer_node1
    env_file:
      - .env
    environment:
      NODE_NAME: node1
      KAFKA_BROKER: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - kafka-network
    restart: on-failure

  producer_node2:
    build:
      context: .
      dockerfile: Dockerfile.producer
    container_name: producer_node2
    env_file:
      - .env
    environment:
      NODE_NAME: node2
      KAFKA_BROKER: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - kafka-network
    restart: on-failure

  producer_node3:
    build:
      context: .
      dockerfile: Dockerfile.producer
    container_name: producer_node3
    env_file:
      - .env
    environment:
      NODE_NAME: node3
      KAFKA_BROKER: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - kafka-network
    restart: on-failure

  consumer:
    build:
      context: .
      dockerfile: Dockerfile.consumer
    container_name: consumer
    env_file:
      - .env
    environment:
      KAFKA_BROKER: kafka:9092
      DB_HOST: db
    depends_on:
      kafka:
        condition: service_healthy
      db:
        condition: service_started
    networks:
      - kafka-network
    restart: on-failure

volumes:
  postgres_data:

networks:
  kafka-network:
    driver: bridge